{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <h1>Course index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>ModifiedAt</th>
                <th>Duration</th>
                <th>IsPublished</th>
                <th>Category</th>
                <th>Trainers</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.content }}</td>
                <td>{{ course.createdAt ? course.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ course.modifiedAt ? course.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ course.duration }}</td>
                <td>{{ course.isPublished ? 'Yes' : 'No' }}</td>
                <td>{{ course.category.name }}</td>
                <td>
                    {% if course.trainers|length > 0 %}
                        <a href="{{ path('app_trainer_course', {'id': course.id}) }}">show</a>
                    {% else %}
                        {{ course.trainers|length }}    
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_PLANNER') %}
                        <a href="{{ path('app_course_show', {'id': course.id}) }}">show</a>
                        <a href="{{ path('app_course_edit', {'id': course.id}) }}">edit</a>
                    {% else %}
                        <img width="20px" src="{{ asset('hell-icon.png') }}" alt="lock">
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_PLANNER') %}
        <a href="{{ path('app_course_new') }}" class="btn btn-primary">Create new</a>
    {% endif %}
{% endblock %}
